.card{
    width: 30vw;
    height: 20vw;
    background-color: aqua;
    border: 5px green solid;
    padding: 10px;
    margin: 20px 20px 20px 35vw;
}
h2{
    color: green;
    text-align: center;
}
p{
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.card:hover h2{
    color: coral;
}
.card:hover{
    background-color: pink;
    transform: scale(1.2);
}