.container{
    height: 300px;
    width: 300px;
    overflow: auto;
}

/* visible(default)
   hidden
   scroll
   auto */
div{
    height: 100px;
    width:  100px;
    background-color: aqua;
    overflow: scroll;
}
